<main role="main" class="container blog-margin">
  <div class="row">
    <div class="col-md-8 blog-main">
      <div class="border-bottom mb-4">
        <h1 class="blog-title">Design Thoughts</h1>
        <p class="lead blog-description">First blog Anastasiia Vlasova UX Designer</p>
        <div>
          <%= link_to 'Write a New Blog', new_blog_path if logged_in?(:site_admin) %>
        </div>

        <div class="mb-3">
          <%#= link_to "Topics", topics_path %>
        </div>
      </div>
      <%= render @blogs %>

      <%#= paginate @blogs %>

    </div>
    <%= render 'shared/blog_sidebar' %>
  </div>
</main>


