<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <div class="border-bottom mb-4">
        <h1>Topics</h1>
      </div>
      <%= render @topics %>
    </div>
  </div>
</main>
