<h1>Portfolio Items</h1>

<div>
  <%	 @portfolio_items.each do |portfolio_item| %>
    <h3><%=	 portfolio_item.title %></h3>
    <span><%=	 portfolio_item.subtitle %></span>
    <p>
      <%=	 portfolio_item.body %>
    </p>
    <%=	 image_tag portfolio_item.thumb_image if !portfolio_item.thumb_image.nil? %>
  <% end %>
</div>