<div class="container">
  <div class="app-card-container contact-card-container">
    <div class=" contact-card-block">
      <h1>Would you like to work together?</h1>

      <div class="contact-container-wrapper">
        <h3 class="mt-5">Address</h3>
        <p>Poland Olecko, plac Zamkowy 19-400</p>

        <h3>LinkedIn</h3>
        <p><a href="https://www.linkedin.com/in/anastasiia-vlasova-a8b36216b/" target="_blank">Visit my LinkedIn</a></p>

        <h3>Behance</h3>
        <p><a href="https://www.behance.net/anastasiya503d2" target="_blank">Visit my Behance</a></p>

        <h3>Dribbble</h3>
        <p><a href="https://dribbble.com/leansquad" target="_blank">Visit my Dribbble</a></p>

        <h3>Phone</h3>
        <p>+48-792-565-876</p>

        <h3>Email</h3>
        <p><a href="mailto:anastasiya.jj@gmail.com?subject=PortfolioContact">Emial Me</a></p>
      </div>
    </div>
  </div>
</div>


