
<div class="container">
  <div class="inner cover mt-5">
    <h1 class="cover-height text-center">UX Design News</h1>
    <div class="row">
      <%	 @tweets.each do |tweet| %>

        <div class="col-md-6">
          <div class="tech-news">
            <div class="card card-font">
              <%=	twitter_parser tweet %>
            </div>
          </div>
        </div>

      <%	 end %>
    </div>
  </div>

</div>