@import 'bootstrap';
@import 'font-awesome';
@import "jquery-ui";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap');
@import "gritter";

body {

}

/*
 * Footer
 */
.blog-footer {
  padding: 1.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}

.navbar-expand-md .navbar-collapse {
  flex-grow: initial;
}

.navbar-nav {
  li {
    font-size: 18px;
    a {
      color: grey;
      &:hover {
        color: deepskyblue;
      }
    }
  }
}

.nav-link {
  font-size: 18px;
  color: grey;
}

.navbar-brand {
  font-family: 'Roboto Slab', serif;
  color: rgba(0,0,0,0.9);
  font-size: 23px;
  font-weight: 500;

}